<p id="notice"><%= notice %></p>

<h1>User Tricks</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Trick</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_tricks.each do |user_trick| %>
      <tr>
        <td><%= user_trick.user_id %></td>
        <td><%= user_trick.trick_id %></td>
        <td><%= link_to 'Show', user_trick %></td>
        <td><%= link_to 'Edit', edit_user_trick_path(user_trick) %></td>
        <td><%= link_to 'Destroy', user_trick, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Trick', new_user_trick_path %>
